In [2]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('Downloads/Crop_recommendation.csv')

In [3]:
X= dataset[["N","P","K","temperature","humidity","rainfall"]]
Y= dataset[["label"]]

In [4]:
X.head()

    N   P   K  temperature   humidity    rainfall
0  90  42  43    20.879744  82.002744  202.935536
1  85  58  41    21.770462  80.319644  226.655537
2  60  55  44    23.004459  82.320763  263.964248
3  74  35  40    26.491096  80.158363  242.864034
4  78  42  42    20.130175  81.604873  262.717340

In [5]:
a = Y['label'].unique()
#Y.replace("rice", 1, inplace=True)a
i = 0
for x in a :
    Y.replace(x, i, inplace=True)
    i+=1

C:\Users\ssd\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [6]:
Y

      label
0         0
1         0
2         0
3         0
4         0
...     ...
2195     21
2196     21
2197     21
2198     21
2199     21

[2200 rows x 1 columns]

In [7]:
#split data into train and test sets
seed = 7
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [8]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, objective='multi:softprob',
              predictor='auto', random_state=0, reg_alpha=0, ...)

In [9]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, objective='multi:softprob',
              predictor='auto', random_state=0, reg_alpha=0, ...)

In [10]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [11]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 99.09%

In [1]:
import plotly.express as px
fig = px.line(dataset,x="label", y=["N","P","K","temperature","humidity","rainfall"],title="data")
fig.show()

NameError: name 'dataset' is not defined